# Day-1

## Learn Python

- Python is a popular programming language.

- Python can be used on a server to create web applications.

## Learning by Examples

In [ ]:
print("Hello,World!!!")

Hello,World!!!

### What is Python?


- It was created by Guido van Rossum, and released in 1991.

 #### It is used for:

    - web development (server-side),
    - software development,
    - mathematics,
    - system scripting.

What can Python do?

    Python can be used on a server to create web applications.
    Python can be used alongside software to create workflows.
    Python can connect to database systems. It can also read and modify files.
    Python can be used to handle big data and perform complex mathematics.
    Python can be used for rapid prototyping, or for production-ready software development.

Why Python?

    Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
    Python has a simple syntax similar to the English language.
    Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
    Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
    Python can be treated in a procedural way, an object-oriented way or a functional way.

# Day-2

In [ ]:
import sys

print(sys.version)

3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]

## Python Indentation

- Indentation refers to the spaces at the beginning of a code line.
  Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

- Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-5-a314491c53bb>, line 2)

##  Note:
This error is due to indendation in python

In [ ]:
if 5>2:
  print("5 is greater than 2") # Indentation

5 is greater than 2

## Note
we have to use the same number of spaces in the same block of code          otherwise Python will give you an error:

In [ ]:
if 3>2:
  print("3 is greater than 2")
        print(" Five is greater than two")
# error due to :The number of spaces  is up to you as a programmer, the most common use is four, but it has to be at least one.

IndentationError: unexpected indent (<ipython-input-1-a3db623f51ed>, line 3)

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# Day-3

## Python Variables

In Python, variables are created when you assign a value to it.

# Creating Variables in python

Python has no command for declaring a variable.
  - A variable is created the moment you first assign a value to it.

# Example

In [ ]:
num=10
name="Ashish"
print(num)
print(name)

10
Ashish

Variables do not need to be declared with particular type, and can even change type after they have been set.

In [ ]:
num=10 # x is of type int
num="Ashish" # num is now type of string
print(num)
print(type(num))

Ashish
<class 'str'>

## Casting

If we want to specify the data types of vaiable , this can be done with casting.

In [ ]:
x =str(10) # x will be '3'
y=int(3) # y will be 3
z=float(3) # z will be 3.0
# print output
print(x,y,z)
print(type(x),type(y),type(z))

10 3 3.0
<class 'str'> <class 'int'> <class 'float'>

# Single or Double Quotes ?

In [ ]:
name="Deepa"
# is the same as
name='Deepa'
print(name)
print(type(name))

Deepa
<class 'str'>

## Case - Sensitive

Variable name are case-sensitive

In [ ]:
a=18
A="This is case sensitive"
print(a)
print(A)

18
This is case sensitive

# Python - Variables Names
## Variable Names
A variable can have a short name (like x and y )  or a more descriptive name(age,carname,total_volume).

## Rules of Python Variables:
- A variable name must  start with a letter or the underscore character.
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores(A-z,0-9,and _)
- Variable names are case-sensitive (age,Age, and AGE are three different variables)
- A variable name cannot be any if the python keywords

In [ ]:
# Legal Variable names:
myname="Ashish"
my_name="Ashish"
_my_name="Ashish"
myName="Ashish"
MYNAME="Ashish"
myname1="Ashish"

In [ ]:
# Illegal Variable names:
2myname="Ashish"
my-name="Ashish"
my name ="Ashish"

SyntaxError: invalid decimal literal (<ipython-input-13-7659c538f8b1>, line 2)

## Python Key Keywords
- Python has a set of keywords that are reserved words that cannot be used as Variable names,function names,or any other identifires:

In [ ]:
import keyword

# Get the list of Python keywords
keywords = keyword.kwlist

# Print all keywords
print("Python Keywords:")
for kw in keywords:
    print(kw)

Python Keywords:
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

## Pascal Case
Each word starts with a capital letter

In [ ]:
MyNameIs="Ashish"
print(MyNameIs)

Ashish

## Snake Case
Each word us separated by an underscore character.

In [ ]:
my_name_is="Ashish"
print(my_name_is)

Ashish

# python Variables - Assign Multiple Values

- Many Values to Multiple Variables
  : Python allows us to assign values to multiple variables in one line

In [ ]:
name1,name2,name3="Ashish","Ayush","Deepa"
print(name1)
print(name2)
print(name3)

Ashish
Ayush
Deepa

## Note !!
- Make sure that number of variables matches the number of values,or else we will get an error.

In [ ]:
num1,num2,num3=1,2
print(num1)
print(num2)
print(num3)

ValueError: not enough values to unpack (expected 3, got 2)

# One Value to Multiple Variables

we can assign the same value to multiple variables in one line

In [ ]:
fruit1=fruit2=fruit3="Orange"
print(fruit1)
print(fruit2)
print(fruit3)

Orange
Orange
Orange

## Unpack a Collection

If we have a collection of values in a list ,tuple etc.
Python allows us to extract the values into variables .This is called unpacking

In [ ]:
# Example
# Unpack a list:

fruits=["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Output Variables
The Python print() function is often used to output the variables

In [ ]:
name1="python"
name2="is"
name3="awesome"
print(name1,name2,name3)

python is awesome

# What if we use + operator to output multiple variables

In [ ]:
print(name1+name2+name3)

pythonisawesome

# Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [ ]:
# for numbers , the + operator character works as a mathematical operator:
# example
x=5
y=10
print(x+y)

15

# Note:
In  print() function , when we try to combine a string and a number with + operator ,python will give us an error

In [ ]:
number=1
name="Ashish"
print(number+name)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
name="Ashish"
age=20
print(name,age)

Ashish 20

# Global Variable

- Variables that are created outside a function are known as global variables.
- Global Variables can be used by everyone,both inside and outside of the function.

In [ ]:
name="Global Variable declaration"
def myfunc():
  print("This is variable output inside the function: "+name)
myfunc()
print("This is variable output outside the function: "+name)

This is variable output inside the function: Global Variable declaration
This is variable output outside the function:  Global Variable declaration