# 100 Days of Python Series

## Day -1

### Topic -

python is a dynamically typed general purpose programming language

In [ ]:
# print
print("Hello World")
print(5)
print(5+5)
print(5*5)

Hello World
5
10
25

## Day-3

### Modules and pip

In [ ]:
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas
import sklearn  # lib of machine learning

In [ ]:
# REPL---> Read--Evaluate--print--loop

In [ ]:
!pip3 install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)

### Built-in Modules in python

## Day -4

### Our first program in python

In [ ]:
print("Hello Wordld")

Hello Wordld

In [ ]:
print(5)

5

In [ ]:
print("Hello",5,"Golu Molu")

Hello 5 Golu Molu

## Day-5

#### comments in python

In [ ]:
# comments in python
print("My name is Ashish \nand i am a good boy")
# \n is a escape sequence character

My name is Ashish
and i am a good boy

In [ ]:
# this is a single line comment
'''
this is multi-line comment in python
'''

"""
this is also a multi-line comment
"""

'\nthis is also a multi-line comment\n'

### escape sequence charavter

In [ ]:
print("My name is Ashish \n and i am a good boy")

My name is Ashish
 and i am a good boy

## Day -6

## Variables in python
- variables are like containers that hold data

In [ ]:
#integer

a=16535882643
print(a)

#string -whenever we are assigning a string in py use "double-quotation"

b="Ashish"
print(b)

#Boolean
c=True
print(c)

#float
d=5.6
print(d)

# complex number
e=complex( 5,6)
print(e)
# another way for complex number
f=5+6j
print(f)

# None
d=None
print(d)

16535882643
Ashish
True
5.6
(5+6j)
(5+6j)
None

##  Data Type

In [ ]:
# we cannot add  string  with integer
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print("The type of variable-a is ",type(a))
print("The type of variable-b is ",type(b))
print("The type of variable-c is ",type(c))
print("The type of variable-d is ",type(d))
print("The type of variable-e is ",type(e))
print("The type of variable-f is ",type(f))

The type of variable-a is  <class 'int'>
The type of variable-b is  <class 'str'>
The type of variable-c is  <class 'bool'>
The type of variable-d is  <class 'NoneType'>
The type of variable-e is  <class 'complex'>
The type of variable-f is  <class 'complex'>

#### List  and Tuples
- list -ordered collection (collection of different data elements)
- Tuples -Immutable but same as  list
- # mutation means changes occure hunxa

#### Python dictionaries
-collection of key value pair

In [ ]:
# lists
list1=[8,2,3,[-4,5]],["apple","banana"]
print(list1)

([8, 2, 3, [-4, 5]], ['apple', 'banana'])

In [ ]:
#tuple
tuple1=(("parrot","sparrow"),("Lion","Tiger"))
print(tuple1)

(('parrot', 'sparrow'), ('Lion', 'Tiger'))

In [ ]:
# dictionary
dict1={"name":"Ashish",
       "age":20,
       "canVote":True}
print(dict1)

{'name': 'Ashish', 'age': 20, 'canVote': True}

### Note: python ma sabai kura object hunxa

# Day -7

In [ ]:
print(10+10)
print(15-25)
print(15*6)

# Exponential operator in python
print(5**3) # this actually does 5*5*5 that is (5 lai 3 patak  multiple garni ya 5^3)

# floor division operator
print(5/2) # yo garda o/p = 2.5 aauxa
# But
print(5//2) # yo garda output 2 aauxa

# % operator
print(15%3)
print(10%3)

20
-10
90
125
2.5
2
0
1

# ## Exercise -01: Calculator using Python

- Create a calculator capable of performing addition , subtraction , multiplication and division operations on two numbers. Your program should format output in a readable mannner

In [ ]:
# Calculator
input_first_number=input("Enter the first number")
input_second_number=input("Enter the second number")
#
input_first_number=int(input_first_number)
input_second_number=int(input_second_number)
# Calculations
#summation
def summation(input_first_number,input_second_number):
  sum =input_first_number+input_second_number
  return sum
#subtraction
def subtraction(input_first_number,input_second_number):
  sub =input_first_number - input_second_number
  return sub
#multiplication
def multiplication(input_first_number,input_second_number):
  mul =input_first_number*input_second_number
  return mul
#division
def division(input_first_number,input_second_number):
  div =input_first_number/input_second_number
  return div

#output
print("The sum is :",summation(input_first_number,input_second_number))
print("The subtraction is :",subtraction(input_first_number,input_second_number))
print("The multiplication is :",multiplication(input_first_number,input_second_number))
print("The division is :",division(input_first_number,input_second_number))

Enter the first number50
Enter the second number0
The sum is : 50
The subtraction is : 50
The multiplication is : 0

ZeroDivisionError: division by zero

## The error in this code is when user enters the second number =0 .so updating code

In [ ]:
# Calculator
input_first_number=input("Enter the first number: ")
input_second_number=input("Enter the second number: ")
#
input_first_number=int(input_first_number)
input_second_number=int(input_second_number)
# Calculations
#summation
def summation(input_first_number,input_second_number):
  sum =input_first_number+input_second_number
  return sum
#subtraction
def subtraction(input_first_number,input_second_number):
  sub =input_first_number - input_second_number
  return sub
#multiplication
def multiplication(input_first_number,input_second_number):
     mul =input_first_number*input_second_number
     return mul


#division
def division(input_first_number,input_second_number):
  if(input_second_number!=0):
    div=input_first_number/input_second_number
    return div
  else:
    print("The second number cannot be zero")
  while input_second_number == 0:

    print("Error: Division by zero. Please enter a non-zero second number.")
    input_second_number = input("Enter the second number again: ")
    input_second_number = int(input_second_number)
    div = input_first_number / input_second_number
    return div


#output
print("The sum is :",summation(input_first_number,input_second_number))
print("The subtraction is :",subtraction(input_first_number,input_second_number))
print("The multiplication is :",multiplication(input_first_number,input_second_number))
print("The division is :",division(input_first_number,input_second_number))

Enter the first number: 10
Enter the second number: 0
The sum is : 10
The subtraction is : 10
The multiplication is : 0
The second number cannot be zero
Error: Division by zero. Please enter a non-zero second number.
Enter the second number again: 2
The division is : 5.0

# Day -7
# Example Solution

In [ ]:
a=50
b=3
print("The value of",a,"+",b,"is",a+b)
print("The value of",a,"-",b,"is",a-b)
print("The value of",a,"*",b,"is",a*b)
print("The value of",a,"/",b,"is",a/b)

The value of 50 + 3 is 53
The value of 50 - 3 is 47
The value of 50 * 3 is 150
The value of 50 / 3 is 16.666666666666668

# Day-9

## Type Casting in Python

The conversion of one data type into the other data is known as type casting in python

In [ ]:
# Type casting in python
a="1"
b="2"
print(a+b) # sum of strings
print(int(a)+int(b)) # sum of integer
# error
a="1harry" # invalid input with mixed

12

## Types of Type conversion

*Explicit conversion*
 - The conversion of one data type into another data type ,done via developer of programmer intension or  manually as per the requirement , is known as explicit type conversion

In [ ]:
string ="15"
number=7
string_number=int(string)
print(number+string_number)

22

*Implicit conversion*
- Data types in python do not have the same level i.e. ordersing of datatypes
is not the same in python .Some of the data types have higher order, and some
have lower order.While performing any operation on variables data types will be changed to the higher data type.
According to the level,one data type is converted into other by python interpreter itself(automatically),This is called Implicit Type conversion

In [ ]:
# Implicit type conversion
c=1.9
d=8
print(c+d)
print("The data-type of c is :",type(c))
print("The data-type of d is :",type(d))
print("The data-type of c+d is :",type(c+d))
# here in the print function , the code itself converts the d=8(integer value)
# and give the answer in float to prevent from data-loss

9.9
The data-type of c is : <class 'float'>
The data-type of d is : <class 'int'>
The data-type of c+d is : <class 'float'>

# Day-10

## User Input in python
- used with input() function
- takes string input

In [ ]:
a=input()
print("The output of a is :",a)

hey
The output of a is hey

In [ ]:
name=input("Enter your name :")
print("Your name is ",name)

Enter your name :Ashish
Your name is  Ashish

In [ ]:
# Magic in python
# python assumed that whatever the value you enter for the input function
# it takes it as string
num1=input("Enter first number:")
num2=input("Enter second number:")
print(num1+num2) # concatenate the number (it doesnot perform addition)

Enter first number:10
Enter second number:20
1020

- This is because ,the input function it takes as string

In [ ]:
num1=input("Enter first number:")
num2=input("Enter second number:")
print(int(num1)+int(num2))  # now this will convert the num1 and num2 data into 20int type

Enter first number:10
Enter second number:20
30

In [ ]:
# what if user enters the sting instead of number
num1=input("Enter first number:")
num2=input("Enter second number:")
print(int(num1)+int(num2)) # concatenate the number (it doesnot perform addition)

Enter first number:10
Enter second number:ashish

ValueError: invalid literal for int() with base 10: 'ashish'

In [ ]:
print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:
assssssss
assssssss

# Day 11

## String in Python

- Strings in python are surrounded by either single(') quotation marks("), or double quotation marks.

- 'hello' is the same as "hello".

- You can display a string literal with the print() function:

### Quotes Inside Quotes

In [ ]:
print('"Hello Ashish",How are you?')# we can use the

"Hello Ashish",How are you?

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

#### Multiline Strings
    You can assign a multiline string to a variable by using three quotes:

In [ ]:
# USing double Quotes
essay=""" Today is a blank page.
Whatever happened yesterday is already written â€” but today, you hold the pen.
Start with courage.
Speak with kindness.
Act with purpose.
Even the smallest effort in the right direction shifts your story.
You're not here by accident â€” you are building something only you can create.
So take a breath. Stand tall. And step forward.

The world needs what you bring. ðŸŒŸ"""
print(essay)

 Today is a blank page.
Whatever happened yesterday is already written â€” but today, you hold the pen.
Start with courage.
Speak with kindness.
Act with purpose.
Even the smallest effort in the right direction shifts your story.
You're not here by accident â€” you are building something only you can create.
So take a breath. Stand tall. And step forward.

The world needs what you bring. ðŸŒŸ

In [ ]:
aboutMyself='''You are stronger than you think.
Not because life has been easy,
but because youâ€™ve kept going when it wasnâ€™t.

Every sunrise is proof that no matter the darkness,
light always returns.

Today, trust your journey.
Grow from the challenges.
Shine, not because everything is perfect â€”
but because you choose to rise anyway.'''
print(aboutMyself)

You are stronger than you think.
Not because life has been easy,
but because youâ€™ve kept going when it wasnâ€™t.

Every sunrise is proof that no matter the darkness,
light always returns.

Today, trust your journey.
Grow from the challenges.
Shine, not because everything is perfect â€”
but because you choose to rise anyway.

In [ ]:
var="Hello World"
print(var[0])
print(var[1])
print(var[2])
print(var[3])
print(var[4])
print(var[5])
print(var[6])
print(var[7])
print(var[8])
print(var[9])
print(var[10])

H
e
l
l
o

W
o
r
l
d

In [ ]:
var="Hello World"
print(var[-1])
print(var[-2])

d
l

In [ ]:
var="Hello World"
for i in var:
   print(i)

H
e
l
l
o

W
o
r
l
d

In [ ]:
name="Ashish Acharya"
print(len(name)) # to print the length of string-->len() function is used

14

# String Slicing and Operations on String in Python

In [ ]:
name="Ashish Acharya"
# print(name[0:5]) # 0 to n-1 samma print garxa
# print(len(name))
# print(name[0:14])
# # if 0 is not provided
# print(name[:14])
# print(name[:])
# print(name[1:])
# print(name[0:-3]) # 0 to len(name)-3
# print(name[-1:-3])
# print(name[-1:len(name)-3])
name2="Ashish"
print(name2[-2:len(name)-3])

sh

In [ ]:
test="Hello"
print(test)
print(len(test)) # to count the length of string it starts with 1
# but the indexing starts with zero(0)
print(test[-1:-3])
print(test[-3:-1]) # 2 to 3

Hello
5

ll



```
# This is formatted as code -40
-1:-3 means
-1 = length of string -1 to length of string -3 and again -1 because it goes upto a to n-1
so here
test ="Ashish" ma  length of string(n)=5
-1 means = len(test)-1=5-1=4 to
-3 means =len(test)-3=5-3=2 and apply(n-1) i.e.=2-1=1
```

In [ ]:
nm="Harry"
print(nm[-4:-3])
# 1 to 2 but (n-1)=2-1=1
# print only a because index here starts with 0

a