# Loops in Python

- for loop
- while loop
- nested loop

In [12]:
# For-Loop in Python
name = "Ashish"
for i in name:
  print(i)
  if (i=="h"):
    print("h is special")

A
s
h
h is special
i
s
h
h is special

In [17]:
colors=["Red","Green","Blue","Yellow"]
for clr in colors:
  print(clr)
  for i in clr:
    print(i)

Red
R
e
d
Green
G
r
e
e
n
Blue
B
l
u
e
Yellow
Y
e
l
l
o
w

In [18]:
for k in range(5):   # range(5) means 0  to 4
  print(k)

0
1
2
3
4

In [19]:
for k in range(5):
  print(k+1) # if we use k+1 it starts with 1 to 5

1
2
3
4
5

In [22]:
for k in range(1,9):
  print(k)

1
2
3
4
5
6
7
8

In [ ]:
for k in range(1,20001):
  print(k) # print till 20000

In [29]:
for k in range(1,11,3):
  print(k)

1
4
7
10